<template>
  <div class="businesses">
    <h1 class="page-header">All Businesses</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Tax ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Postal Code</th>
          <th>Request Amount</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="business in businesses" :key="business.tax_id">
          <td>{{ business.tax_id }}</td>
          <td>{{ business.name }}</td>
          <td>{{ business.address }}</td>
          <td>{{ business.city }}</td>
          <td>{{ business.state }}</td>
          <td>{{ business.postal_code }}</td>
          <td>$ {{ business.request_amount }}</td>
          <td>{{ business.owner }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'bussiness',
  data () {
    return {
      businesses: []
    }
  },
  methods: {
    fetchBusinesses () {
      axios.get(`http://localhost/api/business`)
        .then(response => {
          this.businesses = response.data.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  },
  created: function () {
    this.fetchBusinesses()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
