<template>
  <div class="decision">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="page-header">Information</h1>
      </div>
      <div class="col-sm-4">
        <div v-if="decision == 'approved'" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Status: {{ decision }}</h4>
          <hr>
          <p class="mb-0">Request Amount: {{ business.request_amount }}</p>
        </div>
        <div v-else-if="decision == 'undecided'" class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Status: {{ decision }}</h4>
          <hr>
          <p class="mb-0">Request Amount: {{ business.request_amount }}</p>
        </div>
        <div v-else class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Status: {{ decision }}</h4>
          <hr>
          <p class="mb-0">Request Amount: {{ business.request_amount }}</p>
        </div>
      </div>
    </div>
    <h2>Owner</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Social Security Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Postal code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.socialSecurityNumber }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.postalCode }}</td>
        </tr>
      </tbody>
    </table>
    <h2>Business</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Tax ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Postal Code</th>
          <th>Request Amount</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ business.tax_id }}</td>
          <td>{{ business.name }}</td>
          <td>{{ business.address }}</td>
          <td>{{ business.city }}</td>
          <td>{{ business.state }}</td>
          <td>{{ business.postal_code }}</td>
          <td>$ {{ business.request_amount }}</td>
          <td>{{ business.owner }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'bussiness',
  data () {
    return {
      activeUser: '',
      user: {},
      business: {},
      decision: '',
      session: false
    }
  },
  methods: {
    checkActiveUser () {
      const user = localStorage.getItem('session')
      if (user) {
        this.activeUser = user
        this.session = true
      } else {
        this.$router.push({path: '/login'})
      }
    },
    fetchUser () {
      const session = {
        socialSecurityNumber: String(this.activeUser)
      }
      axios.post(`http://localhost/api/user`, session)
        .then(response => {
          this.user = response.data.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    fetchBusiness () {
      const session = {
        owner: String(this.activeUser)
      }
      axios.post(`http://localhost/api/user/business`, session)
        .then(response => {
          this.business = response.data.data
          axios.post(`http://localhost/api/loan-decision`, { request_amount: this.business.request_amount })
            .then(response => {
              this.decision = response.data.data
            })
            .catch(e => {
              this.errors.push(e)
            })
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  },
  created: function () {
    this.checkActiveUser()
    this.fetchUser()
    this.fetchBusiness()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
