<template>
  <div class="newBusiness text-center">
    <form class="form-signin" v-on:submit="addUser">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Register a Business</h1>
      <div class="row">
        <div class="col-sm-6">
          <label for="inputTaxId" class="sr-only">Tax Id</label>
          <input type="text" id="inputTaxId" class="form-control" placeholder="Tax Id" required v-model="business.tax_id">
        </div>
        <div class="col-sm-6">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" id="inputName" class="form-control" placeholder="Name" required v-model="business.name">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="inputAddress" class="sr-only">Address</label>
          <input type="text" id="inputAddress" class="form-control" placeholder="Address" required v-model="business.address">
        </div>
        <div class="col-sm-3">
          <label for="inputCity" class="sr-only">City</label>
          <input type="text" id="inputCity" class="form-control" placeholder="City" required v-model="business.city">
        </div>
        <div class="col-sm-3">
          <label for="inputState" class="sr-only">State</label>
          <input type="text" id="inputState" class="form-control" placeholder="State" required v-model="business.state">
        </div>
        <div class="col-sm-3">
          <label for="inputPostalCode" class="sr-only">Postal Code</label>
          <input type="text" id="inputPostalCode" class="form-control" placeholder="Postal code" required v-model="business.postal_code">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label for="inputRequestAmount" class="sr-only">Request Amount</label>
          <input type="number" id="inputRequestAmount" class="form-control" placeholder="Request Amount" required v-model="business.request_amount">
        </div>
      </div>
      <hr />
      <button class="btn btn-lg btn-success" type="submit">Send</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'newBusiness',
  data () {
    return {
      business: {},
      activeUser: '',
      session: false
    }
  },
  methods: {
    checkSession () {
      const user = localStorage.getItem('session')
      if (user) {
        this.activeUser = user
        this.session = true
      } else {
        this.$router.push({path: '/login'})
      }
    },
    addUser (e) {
      if (!this.business.tax_id || !this.business.name || !this.business.address || !this.business.city || !this.business.state || !this.business.postal_code || !this.business.request_amount) {
        alert('Please fill in all required fields')
      } else {
        let newBusiness = {
          tax_id: this.business.tax_id,
          name: this.business.name,
          address: this.business.address,
          city: this.business.city,
          state: this.business.state,
          postal_code: this.business.postal_code,
          request_amount: this.business.request_amount,
          owner: this.activeUser
        }
        axios.post('http://localhost/api/business', newBusiness, { crossdomain: true })
          .then(response => {
            if (response.data.status === 200) {
              this.$router.push({path: '/decision'})
            } else {
              alert(response.data.message)
            }
          })
          .catch(e => {
            this.errors.push(e)
          })
        e.preventDefault()
      }
      e.preventDefault()
    }
  },
  created: function () {
    this.checkSession()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .newBusiness {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form-signin {
    width: 100%;
    /* max-width: 330px; */
    padding: 15px;
    margin: 0 auto;
  }

  .text-center {
    text-align: center !important;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin input {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>
