<template>
  <div class="signup text-center">
    <form class="form-signin" v-on:submit="addUser">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">SignUp</h1>
      <div class="row">
        <div class="col-sm-4">
          <label for="inputSocialSecurityNumber" class="sr-only">Social Security Number</label>
          <input type="text" id="inputSocialSecurityNumber" class="form-control" placeholder="Social Security Number" required v-model="user.socialSecurityNumber">
        </div>
        <div class="col-sm-4">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" id="inputName" class="form-control" placeholder="Name" required v-model="user.name">
        </div>
        <div class="col-sm-4">
          <label for="inputLastName" class="sr-only">Last Name</label>
          <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required v-model="user.lastName">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="inputAddress" class="sr-only">Address</label>
          <input type="text" id="inputAddress" class="form-control" placeholder="Address" required v-model="user.address">
        </div>
        <div class="col-sm-3">
          <label for="inputCity" class="sr-only">City</label>
          <input type="text" id="inputCity" class="form-control" placeholder="City" required v-model="user.city">
        </div>
        <div class="col-sm-3">
          <label for="inputState" class="sr-only">State</label>
          <input type="text" id="inputState" class="form-control" placeholder="State" required v-model="user.state">
        </div>
        <div class="col-sm-3">
          <label for="inputPostalCode" class="sr-only">Postal Code</label>
          <input type="text" id="inputPostalCode" class="form-control" placeholder="Postal code" required v-model="user.postalCode">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required v-model="user.email">
        </div>
        <div class="col-sm-6">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required v-model="user.password">
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          </small>
        </div>
      </div>
      <hr />
      <button class="btn btn-lg btn-success" type="submit">Send</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'signup',
  data () {
    return {
      user: {}
    }
  },
  methods: {
    addUser (e) {
      if (!this.user.socialSecurityNumber || !this.user.name || !this.user.lastName || !this.user.address || !this.user.city || !this.user.state || !this.user.postalCode || !this.user.email || !this.user.password) {
        alert('Please fill in all required fields')
      } else {
        let newUser = {
          socialSecurityNumber: this.user.socialSecurityNumber,
          name: this.user.name,
          lastName: this.user.lastName,
          password: this.user.password,
          email: this.user.email,
          address: this.user.address,
          city: this.user.city,
          state: this.user.state,
          postalCode: this.user.postalCode
        }
        axios.post('http://localhost/api/signup', newUser, { crossdomain: true })
          .then(response => {
            if (response.data.status === 200) {
              this.$router.push({path: '/'})
            } else {
              alert(response.data.message)
            }
          })
          .catch(e => {
            this.errors.push(e)
          })
        e.preventDefault()
      }
      e.preventDefault()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .signup {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form-signin {
    width: 100%;
    /* max-width: 330px; */
    padding: 15px;
    margin: 0 auto;
  }

  .text-center {
    text-align: center !important;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin input {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>
