<template>
  <div class="users">
    <h1 class="page-header">All Users</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Social Security Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Postal code</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.socialSecurityNumber">
          <td>{{ user.socialSecurityNumber }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.postalCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'users',
  data () {
    return {
      users: []
    }
  },
  methods: {
    fetchUsers () {
      axios.get(`http://localhost/api/users`)
        .then(response => {
          this.users = response.data.data
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  },
  created: function () {
    this.fetchUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
